.header {
    display: flex; /* deixa o bloco flexivel*/
    align-items: center; /* alinha os elementos na vertical */
    gap: 20px; /* espacamento que so funciona com display flex ativo */
    position: fixed;/* define a posicao */
    top: 0; /* fica preso no top */
    left: 0; /* fica preso no top */
    width: 100%; /* define a largura */
    height: 60px; /* define a altura */
    background-color: var(--verde-claro); /* define a cor do plano de fundo*/
    color: var(--preto); /* define a cor da letra */
    padding: 15px 30px; /* defne espaco interno ao bloco */ 
    z-index: 1000; /* controla a ordem de empilhamento dos elementos na tela ou seja quem fica por cima de quem*/
}

.header-main {
    display: flex; /* deixa o bloco flexivel*/
    width: inherit; /* deixa no tamanho do elemento pai */
    align-items: center; /* alinha os elementos na vertical */
    justify-content: space-between; /* deixa separado um em cada quanto */
}

.menu .menu-lista {
    display: flex; /* deixa o bloco flexivel*/
    gap: 20px; /* espacamento que so funciona com display flex ativo */
    color: var(--branco);
}

/* deixa o menu ativo e na vertical quando esta em desktop, chata pra caralho pprt */
.menu-mobile .menu-lista {
    display: flex; /* deixa o bloco flexivel*/
    flex-direction: column; /* deixa em colunsd (vertical) */
    gap: 20px; /* espacamento que so funciona com display flex ativo */
    color: var(--branco);
}

/* efeito de transicao */
.menu .menu-lista a {
    transition: ease-out 0.3s;
}

.menu .menu-lista a:hover {
    opacity: 0.8;
    color: var(--preto);
}

/* menu mobile */
.btn-menu-header {
    /* display: none; */
    font-size: 1.8em;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}

.menu-mobile {
    position: fixed;
    bottom: 0;
    left: -250px;
    width: 250px;
    height: calc(100vh - 60px);
    background-color: var(--verde-escuro);
    padding: 20px;
    transition: left 0.3s;
    z-index: 900;
    overflow-y: auto;
}

.menu-mobile a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-mobile.open {
    left: 0;
}

/* .sections {
  transition: transform 0.3s ease;
}

.menu-mobile.open ~ .sections {
  transform: translateX(250px);
} */

.overlay.show {
    display: block;
}

/* menu responsivo */
@media (max-width: 768px) {
    .menu-desktop {
        display: none;
    }

    .btn-menu-header {
        display: block;
    }

    .menu-mobile .menu-lista {
        display: flex;
        flex-direction: column;
    }

    /* .menu-mobile.open ~ .sections {
        transform: translateX(20%);
    } */
}

/* @media (max-width: 768px) {
  .menu-mobile.open ~ .sections {
    transform: translateX(75%);
  }
} */

/* esconde menu mobile no desktop */
/* @media (min-width: 769px) {
  .menu-mobile {
    display: none;
  }
} */